{% extends 'base.html' %}

{% block content %}
<!-- Password change page. -->
<!-- Users can change their own password. and admin users can change any user's password. -->
<div class="padding-lg">
  <h1>Change Password</h1>
  <form action="/change_password" method="POST">
    <label for="target">User:</label>
    <select name="target" required>
      {% for user in users %}
      <option value="{{ user['id'] }}">{{ user['username'] }} ({{ user['display_name'] }})</option>
      {% endfor %}
    </select><br>
    <label for="password">New Password:</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Change Password">
  </form>
</div>
{% endblock %}
